$border-color: #DDD;
$text-color: #444;
$link-color: #1863A1;
$link-color--hover: #0181EB;
$link-color--visited: #751590;

body {
    color: $text-color;
    font-family: 'PT Serif', Georgia, serif;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

a {
    color: $link-color;
    &:hover {
        color: $link-color--hover;
    }
    &:visited {
        color: $link-color--visited;
    }
}

p {
    margin: 20px 0;
}

dt {
    margin-top: 20px;
}
dd {
    margin-left: 20px;
}

img,
iframe {
    max-width: 100%;
}

.site-name a,
.entry-title a {
    color: $text-color;
    text-decoration: none;
    
    &:visited {
        color: $text-color;
    }
    &:hover {
        color: $link-color--hover;
    }
}

.main-menu {
    border-bottom: 1px solid $border-color;
    list-style: none;
    padding: 0 0 10px;

    li {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
    a {
        text-decoration: none;
        &:visited {
            color: $text-color;
        }
        &:hover {
            color: $link-color--hover;
        }
    }
}

.post-list {
    list-style: none;
    padding: 0;

    > li {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid $border-color;
    }
}

.archive-date {
    font-size: 18px;
    margin-bottom: 10px;
}
