$border-color: #DDD;
$text-color: #444;
$title-color: #0D47A1;
$subtitle-color: #C5CAE9;
$link-color: #2196F3;
$link-color--hover: #2196F3;
$link-color--visited: #673AB7;

body {
    color: $text-color;
    font-family: 'PT Serif', Georgia, serif;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color--hover;
        text-decoration: underline;
    }
    &:visited {
        color: $link-color--visited;
    }
}

p {
    margin: 20px 0;
}

dt {
    margin-top: 20px;
}
dd {
    margin-left: 20px;
}

img,
iframe {
    max-width: 100%;
}

.entry-title a {
    @extend %dark-link;
}

%dark-link {
    color: $text-color;
    &:hover,
    &:visited {
        color: $text-color;
    }
}

.site-name {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 0;
    a,
    a:hover,
    a:visited {
        color: $title-color;
        text-decoration: none;
    }
}

.site-subtitle {
    color: $subtitle-color;
    font-size: 26px;
    font-weight: 300;
    margin-top: 0;
}

.main-menu {
    border-bottom: 1px solid $border-color;
    list-style: none;
    padding: 0 0 10px;

    li {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
    a {
        @extend %dark-link;
    }
}

.post-list {
    list-style: none;
    padding: 0;

    > li {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid $border-color;
    }
}

.archive-date {
    font-size: 18px;
    margin-bottom: 10px;
}

.main-footer {
    border-top: 1px solid $border-color;
    margin: 40px 0;
}

.social-links {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}
