body {
    color: #444;
    font-family: 'PT Serif', Georgia, serif;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
}

* {
    box-sizing: border-box;
}

a {
    color: #1863A1;
    &:hover {
        color: #0181EB;
    }
    &:visited {
        color: #751590;
    }
}

p {
    margin: 20px 0;
}

img,
iframe {
    max-width: 100%;
}

.site-name a,
.entry-title a {
    color: #444;
    text-decoration: none;
    
    &:visited {
        color: #444;
    }
    &:hover {
        color: #0181EB;
    }
}

.post-list {
    list-style: none;
    padding: 0;
}